mixin link-util(n,r)
	.col-xl-2.col-md-3.col-sm-4.col-6
		.link-util
			a(href="#" target="_blank")
				.foto
					lazyimage(src=`assets/images/logo-placeholder-${n}.png` alt=`Lorem Ipsum ${r}` width="200" height="200")
				//- .foto
				.nome Lorem Ipsum #{r}
		//- .link-util
	//- .col-xl-2.col-lg-3

main.links-uteis#modelo-1
	.page-header
		.container
			h1 Links Úteis
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Links Úteis
		//- .container
	//- .page-header
	.container
		h2 Nós separamos e escolhemos as melhores fontes, para que você possa utilizar #[br] e tirar suas dúvidas de forma rápida e eficaz.

		.row.mgb-60
			// deixar liberado qlqer dimensão pra logo com a condição de width ou height sejam <= 200
			-var r=1;
			-for(var c=0;c<4;c++)
				-var  n=c+1;
				// repete
				+link-util(n,r)
				// fim repete
				-r++
			-for(var c=0;c<4;c++)
				-var  n=c+1;
				// repete
				+link-util(n,r)
				// fim repete
				-r++
			-for(var c=0;c<4;c++)
				-var  n=c+1;
				// repete
				+link-util(n,r)
				// fim repete
				-r++
		//- .row

		h3.h5.text-center.mgb-30 Precisa de mais informações? Mande nos um email, teremos o prazer em atendê-lo.

		.text-center
			a(href="#").btn.btn-expanded.btn-lg FALE CONOSCO
	//- .container
//- main.links-uteis#modelo-1