extend common/template.pug

block title
	-var title = '$projectname';
//- block title

block theme
	-var $theme = '#bd1e33';
//- block theme

block conteudo
	#banner.carousel.slide.carousel-fade(data-interval="5000" data-ride="carousel")
		.carousel-inner
			// REPETE
			.carousel-item.active
				lazy-image(src="assets/images/banner.webp" style="--width: 1110;--height: 663;" alt="Banner")
			//- .carousel-item
			// FIM REPETE
			// REPETE
			.carousel-item
				lazy-image(src="http://placehold.it/1110x663" style="--width: 1110;--height: 663;" alt="Banner")
			//- .carousel-item
			// FIM REPETE
		//- .carousel-inner

		.controles
			a(href="#banner" role="button" aria-label="Anterior" arai-controls="#banner" data-slide="prev").prev: i.fas.fa-chevron-left
			a(href="#banner" role="button" aria-label="Próximo" arai-controls="#banner" data-slide="next").next: i.fas.fa-chevron-right
		//- .controles
	//- #banner.carousel
	section.ultimas-noticias
		.container
			hgroup.title-section
				h1 ÚLTIMAS NOTÍCIAS
				h2 NOTÍCIAS MAIS RECENTES
			//- hgroup

			.owl-carousel(data-lg="3" data-md="2" data-autoplay="true" data-nav="true" data-margin="30" data-loop="true")
				-for(var c=0;c<7;c++)
					-var n=c+1;
					-var img = `assets/images/post-thumbnail-${n}-350x350.webp`;
					// repete
					+post(img)
					// fim repete
			//- .owl-carousel
		//- .container
	//- section.ultimas-noticias

	section.posts-importantes
		.container
			hgroup.title-section
				h1 VOCÊ PRECISA LER ISSO!
				h2 NOTÍCIAS EM DESTAQUE
			//- hgroup

			.row
				.col-xl-6.mgb-30
					+post-g('assets/images/post-thumbnail-1-540x540.webp')
				//- .col-xl-6.mgb-30
				.col-xl-6.mgb-30
					-for(var c=0;c<4;c++)
						-var h = c+1;
						-var img = `assets/images/post-thumbnail-${h}-160x160.webp`;
						// repete
						+post-h(img)
						// fim repete
				//- .col-xl-6
			//- .row
		//- .container
	//- section.posts-importantes

	.fique-por-dentro
		.container
			.row
				section.col-xl-8
					hgroup.title-section
						h1 VOCÊ PRECISA LER ISSO!
						h2 NOTÍCIAS EM DESTAQUE
					//- hgroup

					.row
						-for(var c=0;c<4;c++)
							-var d=c+4;
							-var img = `assets/images/post-thumbnail-${d}-350x350.webp`;
							// REPETE
							.col-md-6.mgb-30
								+post(img)
							// FIM REPETE
					//- .row
				//- section.col-xl-8
				.col-xl-4
					include common/sidebar.pug
	//- .fique-por-dentro
//- block conteudo
