main.clientes-e-parceiros#clientes-e-parceiros-mod-2
	header.page-header
		.container
			h1 Nossos Clientes

			ol.breadcrumb
				li: a(href="#") HOME
				li.active: span CLIENTES
			//- ol.breadcrumbs
		//- .container
	//- header.page-hader
	.container

		.row.clientes.mgb-60
			-for(var p=0;p<4;p++)
				-var n = p+1;
				-var img = `http://www.agenciagv8.com.br/internasgv8/assets/images/logo-placeholder-${n}.png`;
				// REPETE
				.col-lg-2.col-sm-3
					figure.cliente
						a(href="#")
							lazyimage(src=`${img}` alt="nome/descricao" width="180" height="180")
							figcaption.nome Nome do cliente
					//- figure.cliente
				//- .col-lg-2.col-sm-3
				// FIM REPETE
			-for(var p=0;p<4;p++)
				-var n = p+1;
				-var img = `http://www.agenciagv8.com.br/internasgv8/assets/images/logo-placeholder-${n}.png`;
				// REPETE
				.col-lg-2.col-sm-3
					figure.cliente
						a(href="#")
							lazyimage(src=`${img}` alt="nome/descricao" width="180" height="180")
							figcaption.nome Nome do cliente
					//- figure.cliente
				//- .col-lg-2.col-sm-3
				// FIM REPETE
			-for(var p=0;p<4;p++)
				-var n = p+1;
				-var img = `http://www.agenciagv8.com.br/internasgv8/assets/images/logo-placeholder-${n}.png`;
				// REPETE
				.col-lg-2.col-sm-3
					figure.cliente
						a(href="#")
							lazyimage(src=`${img}` alt="nome/descricao" width="180" height="180")
							figcaption.nome Nome do cliente
					//- figure.cliente
				//- .col-lg-2.col-sm-3
				// FIM REPETE
			-for(var p=0;p<4;p++)
				-var n = p+1;
				-var img = `http://www.agenciagv8.com.br/internasgv8/assets/images/logo-placeholder-${n}.png`;
				// REPETE
				.col-lg-2.col-sm-3
					figure.cliente
						a(href="#")
							lazyimage(src=`${img}` alt="nome/descricao" width="180" height="180")
							figcaption.nome Nome do cliente
					//- figure.cliente
				//- .col-lg-2.col-sm-3
				// FIM REPETE
			-for(var p=0;p<4;p++)
				-var n = p+1;
				-var img = `http://www.agenciagv8.com.br/internasgv8/assets/images/logo-placeholder-${n}.png`;
				// REPETE
				.col-lg-2.col-sm-3
					figure.cliente
						a(href="#")
							lazyimage(src=`${img}` alt="nome/descricao" width="180" height="180")
							figcaption.nome Nome do cliente
					//- figure.cliente
				//- .col-lg-2.col-sm-3
				// FIM REPETE
		//- .row
		
		//
			<div class="paginacao">
				<span class="active">1</span>
				<a href="#">2</a>
				<a href="#">3</a>
				<span>...</span>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fa fa-angle-right"></i></a>
				<a href="#"><i class="fa fa-angle-double-right"></i></a>
			</div>
		//- .paginacao
	//- .container
//- main.clientes-e-parceiros#clientes-e-parceiros-mod-1