doctype html
html(lang="pt-br")
	head
		block title
			-var title = 'Document';
		title #{title}

		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="WSK")

		meta(name="msapplication-tap-highlight" content="no")
		
		//- // manifest
		//- link(rel="manifest" href="assets/json/manifest.json")
		
		block theme
			-var theme = "#222";
		// color da status bar
		meta(name="msapplication-TileColor", content=theme)
		meta(name="theme-color", content=theme)
		meta(name="apple-mobile-web-app-status-bar-style", content=theme)

		// add to homescreen (chrome)
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="application-name" content=title)
		//- link(rel="icon" sizes="192x192" href="assets/images/chrome-touch-icon-192x192.png")

		// add to homescreen (iOS)
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-title" content=title)
		link(rel="apple-touch-icon" href="assets/images/touch/apple-touch-icon.png")

		//- // tile icon for Win8
		//- meta(name="msapplication-TileImage" content="assets/images/touch/ms-touch-icon-144x144-precomposed.png")

		// SEO
		// <link rel="canonical" href="https://www.dominio.com.br/">

		link(rel="stylesheet", type="text/css", href="assets/css/estilos.css")
		link(rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico")

		include mixins/mixins.pug

	body
		noscript
			style.
				.alert-warning{
					border-radius:0;
					background: #FFB300;
					position: sticky;
					z-index:1000;
					top:0;
				}
			.alert.alert-warning.text-center.alert-noscript(role="alert")
				h1 Seu navegador está com os scripts desabilitados!
				p Para melhor funcionamento do site, habilite-os.
		//- noscript

		//
			[if lt IE 9]>
				<style>.msg-ie{border-radius:0; background: #FFB300; position: sticky; z-index:1000; top:0;}</style>
				<div class="alert alert-warning msg-ie text-center" role="alert">
					<button class="close" type="button" aria-label="Close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="h1 alert-heading">Atenção!!!</h4>
					<p> O seu navegador está desatualizado! Para melhor funcionamento do site clique <a href="https://support.microsoft.com/pt-br/help/17621/internet-explorer-downloads" class="alert-link">aqui</a> para atualizar, ou instale o <a href="https://www.google.com/chrome/browser/desktop/index.html" class="alert-link">Google Chrome</a> </p>
				</div>
			<![endif]
		#app
			// TOP
			include header.pug
			.wrapper
				block conteudo
			// /.wrapper
			include footer.pug
		//- #app
		
		block vuejs
			-var vuejs = false;
		if vuejs
			script(src="assets/vue.components.min.js")
		script(src="assets/js/jquery.min.js")
		script(src="assets/js/bootstrap.min.js")
		script(src="assets/js/scripts.js")