main.galeria-fotos#modelo-3
	.page-header
		.container
			h1 Galeria de Fotos
			ol.breadcrumb
				li: a(href="#") Home
				li.active: span Fotos
		//- .container
	//- .page-header
	.container
		.row
			-for(var c=0;c<9;c++)
				-var n =c+1;
				// REPETE
				.col-md-4.col-sm-6
					.album-fotografia
						a(href="foto-detalhes.html")
							.foto
								lazyimage(src="http://placehold.it/350x220" width="350" height="220" alt="Nome do Álbum")
							//- .foto
							.album-caption
								.nome NOME DO ÁLBUM #{n}
								.description VISUALIZAR ÁLBUM [+]
							//- .album-caption
					//- .album-fotografia
				// FIM REPETE
		//- .row
		.paginacao
			a(href="#") 1
			span.active 2
			a(href="#") 3
			a(href="#") 4
		//- .paginacao
	//- .container

	// MODAL ALBUM
	.album#album
		.content
			.header
				button(type="button" data-toggle="close-album").fechar.btn FECHAR #[i.fas.fa-times]
			.body
				.carousel#carousel-album(data-interval="0")
					.wrapper-carousel
						.carousel-inner
							-for(var i=0;i<20;i++)
								-var n=i+1;
								.carousel-item(class=i==0?'active':'')
									lazyimage(src="http://placehold.it/1000x1000?text=Foto+"+n width="1000" height="1000" alt="nome/descricao")
						//- .carousel-inner
						a(href="#carousel-album" data-slide="prev").prev
							span.sr-only Prev
							i.fas.fa-chevron-left
						a(href="#carousel-album" data-slide="next").next
							span.sr-only Next
							i.fas.fa-chevron-right
					ol.carousel-indicators
						-for(var c=0;c<20;c++)
							-var d=c+1;
							li(data-slide-to=c class=c==0?'active':'' data-target="#carousel-album")
								lazyimage(src="http://placehold.it/100x100?text="+d width="100" height="100" alt="nome/descricao")
				//- .carousel#carousel-album(data-interval="0")
			//- .body
		//- .content
	// FIM MODAL ALBUM
//- main.galeria-fotos#modelo-3