-var mes = ['JANEIRO', 'FEVEREIRO', 'MARÇO', 'ABRIL','MAIO', 'JUNHO', 'JULHO', 'AGOSTO', 'SETEMBRO','OUTUBRO', 'NOVEMBRO','DEZEMBRO'];

aside.sidebar
	.block
		.block-head CATEGORIAS
		.block-body
			ol.categorias
				-for(var c=0;c<8;c++)
					-var n=c+1;
					li: a(href="categoria.html") #[span.badge #{c+5}] CATEGORIA #{n}
		//- .block-body
	//- .block

	.block.newsletter
		.block-head NEWSLETTER
		.block-body
			form
				p Receba em primeira mão nossas notícias dicas e novidades. Cadastre-se e fique por dentro!

				label.sr-only(for="newsletter") Seu email
				.input-group
					input(type="email" name="newsletter" id="newsletter" placeholder="Seu email...").form-control
					button.btn.btn-newsletter(role="button" aria-label="Cadastrar")
						span.sr-only Cadastrar
						svg.svg-icon
							use(xlink:href="#send-button")
				//- .input-group
			//- form
		//- .block-body
	//- .block

	.block
		.block-head ARQUIVOS
		.block-body
			ol.categorias
				-for(var c=0;c<8;c++)
					-var n=c+1;
					li
						a(href="#" role="button" data-toggle="collapse" data-target="#arquivos-"+c aria-expanded="false" aria-label="Arquivos de "+(2019 - c)) #{2019 - c}

						ol.collapse(id="arquivos-"+c)
							-for (var i=0;i<mes.length;i++)
								-var m = mes[i];
								li
									a(href="#") #[span.badge #{c+5}] #{m}
						//- ol
		//- .block-body
	//- .block

//- .sidebar

.banner
	lazy-image(src="assets/images/anuncio-350x206.webp" style="--width: 350;--height: 206;")
//- .banner
